@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 15%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 15%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 15%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 80% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;
    --accent: 190 90% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 90% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 210 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 12% 5%;
    --foreground: 225 100% 95%;
    --card: 240 10% 8%;
    --card-foreground: 225 100% 95%;
    --popover: 240 10% 10%;
    --popover-foreground: 225 100% 95%;
    --primary: 210 100% 60%;
    --primary-foreground: 240 12% 5%;
    --secondary: 275 80% 65%;
    --secondary-foreground: 225 100% 95%;
    --muted: 240 10% 20%;
    --muted-foreground: 225 70% 80%;
    --accent: 190 90% 60%;
    --accent-foreground: 240 12% 5%;
    --destructive: 0 90% 70%;
    --destructive-foreground: 240 12% 5%;
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 210 100% 60%;
  }
}

body{
    font-family: "Inter", sans-serif;
    background: var(--background);
}
